    </div>
    <script src="../static/AdminStatic/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/AdminStatic/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../static/AdminStatic/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../static/AdminStatic/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/AdminStatic/js/waves.js"></script>
    <!--Counter js -->
    <script src="../static/AdminStatic/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="../static/AdminStatic/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="../static/AdminStatic/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="../static/AdminStatic/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="../static/AdminStatic/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../static/AdminStatic/js/custom.min.js"></script>

    <script src="../static/AdminStatic/js/dashboard1.js"></script>

    <script src="../static/AdminStatic/plugins/bower_components/toast-master/js/jquery.toast.js"></script>

    <script src="../static/js/main.js"></script>
	<script src="../static/js/MyJavaFile.js"></script>
</body>
</html>