<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Depression Analysis</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

</head>

<body>

    <!-- home
    ================================================== -->
    <main class="s-home s-home--particles">

        <div id="particles-js" class="home-particles"></div>
        <div class="gradient-overlay"></div>

        <div class="home-content">

            <div class="home-logo">
                <a href="/">
                    <img src="../static/images/logo.png" alt="Homepage">
                </a>
            </div>

            <div class="row home-content__main">

                <div class="col-eight home-content__text pull-right">
                    <h3>Welcome</h3>

                    <h1>Detection of Despression <br> now made easier</h1>

                    <p>
                    Our goal is to develop a reliable and as accurate as possible depression detection tool for
                    adults that can aid psychologists and psychiatrists in diagnosis of sufferer.
                    </p>

                    <div class="home-content__subscribe">
                        <a id="CustomButton" href="/SignIn">SignIn</a>
                        <!--<form id="mc-form" class="group" novalidate="true">-->
                            <!--<input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">-->
                            <!--<input type="submit" name="subscribe" value="Notify Me">-->
                            <!--<label for="mc-email" class="subscribe-message"></label>-->
                        <!--</form>-->
                    </div>
                </div>

                <div class="col-four home-content__counter">
                    <h3>Launching In</h3>
                    <div class="home-content__clock"></div>
                </div>

            </div>

            <ul class="home-social">
                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a></li>
            </ul>



            <div class="home-content__line"></div>

        </div> <!-- end home-content -->

    </main> <!-- end s-home -->


    <!-- info
    ================================================== -->
    <a class="info-toggle" href="#0">
        <span class="info-menu-icon"></span>
    </a>

    <div class="s-info">

        <div class="row info-wrapper">

            <div class="col-seven tab-full info-main">
                <h1>Depression Analysis in Adults</h1>
                <p>
                    In the past few years a great number of psychological researches have been carried out on depression.
                    The purpose of this project is to detect depression from the face expressions of an individual.
                    The input to the system is given in the form of videos which are further manipulated for diagnosis.
                    Proper diagnosis of this serious disease is undoubtedly most important part of its cure.
                    This tool will aid psychologists and psychiatrists in detecting depression. We can certainly say
                    that it is a decision support tool but not a decision-making tool. To give a clearer understanding
                    of the project a report has been made available for users.
                </p>
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>Contact Us</h3>
                    <p>
                        <a href="mailto:l144035@gmail.com" class="info-email">l144035@lhr.nu.edu.pk</a><br>
                        <a href="tel:+923244550066" class="'info-phone">+92 324 4550066</a>
                    </p>
                </div>

                <div class="info-block">
                    <h3>Visit Us</h3>
                    <p class="info-address">Block-B, Faisal Town<br>Lahore, Punjab, Pakistan</p>
                </div>

                <div class="info-block">
                    <h3>Download Stand-Alone Application</h3>
                    <a id="CustomButton" href="">Download</a>
                    <!-- <a id="CustomButton" href="https://github.com/kamalcha/ActiveBox/archive/master.zip">Download</a> -->
                    <a id="CustomButton" href="">Download</a>
                </div>

            </div>

        </div>  <!-- end info wrapper -->

    </div>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/polygons.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/MyJavaFile.js"></script>

</body>
</html>
